<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Delete User</title>
</head>

<body>
    <h1>Delete User | <a href="/users/logout">Logout</a></h1>
    <p>Are you sure you want to delete the user '<%= user.username %>'?</p>
    <form action="/users/<%= user._id %>" method="POST">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Delete User">
    </form>
    <a href="/users">Back to Users</a>
</body>

</html>